*{
    box-sizing: border-box;
    outline: none;
    border: none;
}
button{
    /* border: none; */
    border-radius: 5px;
    font-size: 0.9em;
}
body{
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    background: radial-gradient(circle at center, white, rgb(195, 190, 190));
}

.modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 100;
}

.modal-content{
    background-color: white;
    text-align: center;
    padding: 30px 100px;
    max-width: calc(1000px - 20px) ;
    margin: auto;
    width: fit-content;
    border-radius: 12px;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5), 0px 8px 25px rgba(0, 0, 0, 0.2);
    & > *{
        margin: 2px auto;
        text-align: left;
        width: fit-content;
    }
}

.modal-content .closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2em;
    cursor: pointer;
}


#gameContainer{
    width: 1000px;
    height: 600px;
    /* background-color: #fff; */
    /* border: 1px solid #ccc; */
    position: relative;
}

#welcomeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

#welcomeScreen h1 {
    font-size: 5em;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 4px;
    animation: 1s zoom ease-in-out infinite alternate; 
}

@keyframes zoom {
    from{
        transform: scale(1);
        rotate: 1deg;
    }
    to{
        rotate: -1deg;
        transform: scale(1.2);
    }
}

#welcomeScreen input{
    text-align: center;
    width: 50%;
    font-size: 1em;
}
#welcomeScreen input::placeholder{
    text-align: center;
}
#welcomeScreen #playGameBtn{
    background-color: green;
    color: rgba(0, 0, 0, 0.708);
}
#welcomeScreen #playGameBtn:disabled{
    background-color: rgba(0, 128, 0, 0.644);
}
#welcomeScreen #instructionBtn, #welcomeScreen #leaderboardBtn{
    flex-grow: 1;
}

#gameScreen{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#gameScreen #gameInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #eee;
}
#gameScreen #mazeBoard {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
    background-color: #ccc;
    padding: 5px;
}

.mazeCell{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Nanti kita tambah class buat player, start, finish, wall */
.player{background-color: blue; z-index: 100;}
.start{border: 6px solid lightgreen;}
.finish{border: 6px solid lightcoral;}
.wall{background-color: rgb(255, 255, 255);}
.wall-memorizing{background-color: rgb(18, 17, 17);}

#ovr{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.8);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}

#goPopUp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border: 2px solid black;
    text-align: center;
    z-index: 100;
}

.btn{
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
}

.btn:disabled{
    cursor: not-allowed;
}